## Merging DataSets

In [2]:
import pandas as pd
import numpy as np

np.arange(16).reshape(4, 4)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [3]:
np.zeros((3, 4))
np.ones((4, 3))

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [4]:
df1 = pd.DataFrame(np.arange(16).reshape(4, 4), columns=list("ABCD"))
df1

    A   B   C   D
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [5]:
df2 = pd.DataFrame(np.zeros((3, 4)), columns=list("ABCD"))
df2

     A    B    C    D
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0

In [6]:
df3 = pd.DataFrame(np.ones((4, 3)), index=[1, 5, 10, 15])
df3

      0    1    2
1   1.0  1.0  1.0
5   1.0  1.0  1.0
10  1.0  1.0  1.0
15  1.0  1.0  1.0

## Concatanating and Merging
- Inner join: Vad de har gemensamt joinas.          "a snitt b"
- Outer join: Allt unika joinas                     "a union b"

### Concat

- concatanates pandas objects along an axis (rows, columns)
- there are set logics

In [7]:
df1, df2

(    A   B   C   D
 0   0   1   2   3
 1   4   5   6   7
 2   8   9  10  11
 3  12  13  14  15,
      A    B    C    D
 0  0.0  0.0  0.0  0.0
 1  0.0  0.0  0.0  0.0
 2  0.0  0.0  0.0  0.0)

In [8]:
pd.concat([df1, df2], axis=0) # adds rows as default, axis 0

      A     B     C     D
0   0.0   1.0   2.0   3.0
1   4.0   5.0   6.0   7.0
2   8.0   9.0  10.0  11.0
3  12.0  13.0  14.0  15.0
0   0.0   0.0   0.0   0.0
1   0.0   0.0   0.0   0.0
2   0.0   0.0   0.0   0.0

In [9]:
pd.concat([df1, df2], axis=1)

    A   B   C   D    A    B    C    D
0   0   1   2   3  0.0  0.0  0.0  0.0
1   4   5   6   7  0.0  0.0  0.0  0.0
2   8   9  10  11  0.0  0.0  0.0  0.0
3  12  13  14  15  NaN  NaN  NaN  NaN

In [10]:
df1, df3

(    A   B   C   D
 0   0   1   2   3
 1   4   5   6   7
 2   8   9  10  11
 3  12  13  14  15,
       0    1    2
 1   1.0  1.0  1.0
 5   1.0  1.0  1.0
 10  1.0  1.0  1.0
 15  1.0  1.0  1.0)

In [11]:
# concanates in axis rows, df1 rows first then df2 rows. Missing values are filled with NaNs
pd.concat([df1, df3], axis=1)

# = Outer Join: Allt från df1, allt från df3

       A     B     C     D    0    1    2
0    0.0   1.0   2.0   3.0  NaN  NaN  NaN
1    4.0   5.0   6.0   7.0  1.0  1.0  1.0
2    8.0   9.0  10.0  11.0  NaN  NaN  NaN
3   12.0  13.0  14.0  15.0  NaN  NaN  NaN
5    NaN   NaN   NaN   NaN  1.0  1.0  1.0
10   NaN   NaN   NaN   NaN  1.0  1.0  1.0
15   NaN   NaN   NaN   NaN  1.0  1.0  1.0

In [12]:
pd.concat([df1, df3], axis=1, join="inner")

# Inner join. Gemensamma index

   A  B  C  D    0    1    2
1  4  5  6  7  1.0  1.0  1.0

## Merging

In [13]:
left = pd.DataFrame(
    {
        "key": ["K0", "K0", "K1", "K2"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    }
)

right = pd.DataFrame(
    {
        "key": ["K0", "K1", "K2", "K3"],
        "C": ["C0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    }
)

left, right

(  key   A   B
 0  K0  A0  B0
 1  K0  A1  B1
 2  K1  A2  B2
 3  K2  A3  B3,
   key   C   D
 0  K0  C0  D0
 1  K1  C1  D1
 2  K2  C2  D2
 3  K3  C3  D3)

In [14]:
#syntax with function
# inner join -> K3 from right not included
pd.merge(left, right, on="key", indicator=True)

  key   A   B   C   D _merge
0  K0  A0  B0  C0  D0   both
1  K0  A1  B1  C0  D0   both
2  K1  A2  B2  C1  D1   both
3  K2  A3  B3  C2  D2   both

In [15]:
# syntax with method
left.merge(right, on="key", how="outer", indicator=True)

  key    A    B   C   D      _merge
0  K0   A0   B0  C0  D0        both
1  K0   A1   B1  C0  D0        both
2  K1   A2   B2  C1  D1        both
3  K2   A3   B3  C2  D2        both
4  K3  NaN  NaN  C3  D3  right_only

In [16]:
left = pd.DataFrame(
    {
        "key1": ["K0", "K0", "K1", "K2"],
        "key2": ["K0", "K1", "K0", "K1"],
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    }
)

right = pd.DataFrame(
    {
        "key1": ["K0", "K1", "K1", "K2"],
        "key2": ["K0", "K0", "K0", "K0"],
        "A": ["A0", "C1", "C2", "C3"],
        "D": ["D0", "D1", "D2", "D3"],
    }
)
left, right

(  key1 key2   A   B
 0   K0   K0  A0  B0
 1   K0   K1  A1  B1
 2   K1   K0  A2  B2
 3   K2   K1  A3  B3,
   key1 key2   A   D
 0   K0   K0  A0  D0
 1   K1   K0  C1  D1
 2   K1   K0  C2  D2
 3   K2   K0  C3  D3)

In [17]:
# A_x is from the left, A_y is from the right
left.merge(right, on=["key1", "key2"], indicator=True, how="left")

  key1 key2 A_x   B  A_y    D     _merge
0   K0   K0  A0  B0   A0   D0       both
1   K0   K1  A1  B1  NaN  NaN  left_only
2   K1   K0  A2  B2   C1   D1       both
3   K1   K0  A2  B2   C2   D2       both
4   K2   K1  A3  B3  NaN  NaN  left_only

## Join

- uses merge internally
- combines columns

In [18]:
left = pd.DataFrame(
    {"A": ["A0", "A1", "A2"], "B": ["B0", "B1", "B2"]}, index=["K0", "K1", "K2"]
)


right = pd.DataFrame(
    {"C": ["C0", "C2", "C3"], "D": ["D0", "D2", "D3"]}, index=["K0", "K2", "K3"]
)

left, right

(     A   B
 K0  A0  B0
 K1  A1  B1
 K2  A2  B2,
      C   D
 K0  C0  D0
 K2  C2  D2
 K3  C3  D3)

In [19]:
# joins K1 which only exists in left -> so this is a left join
left.join(right)

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [20]:
# indices from right -> right join
left.join(right, how="right")

      A    B   C   D
K0   A0   B0  C0  D0
K2   A2   B2  C2  D2
K3  NaN  NaN  C3  D3

-------------------
## Webscraping HTML tables

In [21]:
pd.read_html("https://en.wikipedia.org/wiki/FIFA")

[                                                    0  \
 0   Fédération internationale de Football Associat...
 1                                                Logo
 2   Map of the members of FIFA according to their ...
 3                                        Abbreviation
 4                                             Founded
 5                                          Founded at
 6                                                Type
 7                                             Purpose
 8                                        Headquarters
 9                                         Coordinates
 10                                      Region served
 11                                         Membership
 12                                          President
 13                              Senior Vice-President
 14                                    Vice-Presidents
 15                                  Secretary General
 16                                         Main organ
 17                                       Subsidiaries
 18                                       Affiliations
 19                                              Staff
 20                                            Website

                                                     1
 0   Fédération internationale de Football Associat...
 1                                                Logo
 2   Map of the members of FIFA according to their ...
 3                                             FIFA[1]
 4                          21 May 1904; 118 years ago
 5                                       Paris, France
 6                                   Sports federation
 7                                    Sport governance
 8                                 Zürich, Switzerland
 9   .mw-parser-output .geo-default,.mw-parser-outp...
 10                                          Worldwide
 11                          211 national associations
 12                                   Gianni Infantino
 13                Salman bin Ibrahim Al Khalifa (AFC)
 14  Alejandro Domínguez (CONMEBOL) Aleksander Čefe...
 15                                      Fatma Samoura
 16                                      FIFA Congress
 17  AFC (Asia and Australia) CAF (Africa) CONCACAF...
 18  International Olympic Committee International ...
 19                                                751
 20                                           FIFA.com  ,
    Unnamed: 0                   Unnamed: 1
 0         NaN                          NaN
 1         Use                        Sport
 2  Proportion                          3:5
 3     Adopted                         2018
 4      Design  Blue field with a FIFA logo,
    No.                               Name            Country  \
 0    1                      Robert Guérin             France
 1    2             Daniel Burley Woolfall     United Kingdom
 2    —  Cornelis August Wilhelm Hirschman        Netherlands
 3    3                        Jules Rimet             France
 4    4               Rodolphe Seeldrayers            Belgium
 5    5                      Arthur Drewry     United Kingdom
 6    —                      Ernst Thommen        Switzerland
 7    6                       Stanley Rous     United Kingdom
 8    7                     João Havelange             Brazil
 9    8                       Sepp Blatter        Switzerland
 10   —                       Issa Hayatou           Cameroon
 11   9                   Gianni Infantino  Italy Switzerland

           Took office        Left office            Note
 0         23 May 1904        4 June 1906             NaN
 1         4 June 1906    24 October 1918  Died in office
 2     24 October 1918               1920          Acting
 3        1 March 1921       21 June 1954             NaN
 4        21 June 1954     7 October 1955  Died in office
 5         9 June 1956      25 March 1961  Died in office
 6       25 March 1961  28 September 1961          Acting
 7   28 September 1961         8 May 1974             NaN
 8          8 May 1974        8 June 1998             NaN
 9         8 June 1998     8 October 2015       Impeached
 10     8 October 2015   26 February 2016          Acting
 11   26 February 2016          Incumbent             NaN  ,
                                  FIFA confederations
 0                                 AFC, CAF, CONCACAF
 1                                CONMEBOL, OFC, UEFA
 2  .mw-parser-output .navbar{display:inline;font-...,
     0                                                  1
 0 NaN  This section needs additional citations for ve...,
     0                                                  1
 0 NaN  This article's Criticism or Controversy sectio...,
                                                    0  \
 0  National teams[edit] Men's FIFA World Cup Men'...

                                                    1  \
 0  Clubs[edit] Men's FIFA Club World Cup FIFA You...

                                                    2
 0  eSports[edit] Individual FIFAe World Cup Team ...  ,
                                                     0                       1  \
 0                                         Competition                     NaN
 1                                      National teams          National teams
 2                                      FIFA World Cup                     NaN
 3            Men's Olympic Football Tournament (U-23)                     NaN
 4                                 FIFA U-20 World Cup                     NaN
 5                                 FIFA U-17 World Cup                     NaN
 6                               FIFA Futsal World Cup                     NaN
 7        Men's Youth Olympic Futsal Tournament (U-20)                     NaN
 8          FIFA Beach Soccer World Cup (see the BSWW)                     NaN
 9   FIFA Arab Cup (senior teams of the UAFA (Arab ...                     NaN
 10                             National teams (women)  National teams (women)
 11                             FIFA Women's World Cup                     NaN
 12                Women's Olympic Football Tournament                     NaN
 13                        FIFA U-20 Women's World Cup                     NaN
 14                        FIFA U-17 Women's World Cup                     NaN
 15     Women's Youth Olympic Futsal Tournament (U-20)                     NaN
 16                                          Club team               Club team
 17                                FIFA Club World Cup                     NaN
 18                          Blue Stars/FIFA Youth Cup                     NaN
 19                                 Club teams (women)      Club teams (women)
 20                          Blue Stars/FIFA Youth Cup                     NaN

                          2                       3                       4  \
 0                     Year               Champions                   Title
 1           National teams          National teams          National teams
 2             2018 (Final)                  France                     2nd
 3             2020 (Final)                  Brazil                     2nd
 4             2019 (Final)                 Ukraine                     1st
 5             2019 (Final)                  Brazil                     4th
 6             2021 (Final)                Portugal                     1st
 7             2018 (Final)                  Brazil                     1st
 8             2021 (Final)                  Russia                     3rd
 9             2021 (Final)                 Algeria                     1st
 10  National teams (women)  National teams (women)  National teams (women)
 11            2019 (Final)           United States                     4th
 12            2021 (Final)                  Canada                     1st
 13            2022 (Final)                   Spain                     1st
 14            2018 (Final)                   Spain                     1st
 15            2018 (Final)                Portugal                     1st
 16               Club team               Club team               Club team
 17            2021 (Final)                 Chelsea                     1st
 18                2022[56]                   Basel                     3rd
 19      Club teams (women)      Club teams (women)      Club teams (women)
 20                2022[56]                  Zürich                     1st

                          5                       6                       7
 0               Runners-up                     NaN        Next edition[55]
 1           National teams          National teams          National teams
 2                  Croatia                     NaN            2022 (Final)
 3                    Spain                     NaN            2024 (Final)
 4              South Korea                     NaN            2023 (Final)
 5                   Mexico                     NaN            2023 (Final)
 6                Argentina                     NaN            2024 (Final)
 7                   Russia                     NaN                    2026
 8                    Japan                     NaN            2023 (Final)
 9                  Tunisia                     NaN                     TBD
 10  National teams (women)  National teams (women)  National teams (women)
 11             Netherlands                     NaN            2023 (Final)
 12                  Sweden                     NaN            2024 (Final)
 13                   Japan                     NaN            2024 (Final)
 14                  Mexico                     NaN            2022 (Final)
 15                   Japan                     NaN                    2026
 16               Club team               Club team               Club team
 17               Palmeiras                     NaN             TBD (China)
 18                   Mainz                     NaN                    2023
 19      Club teams (women)      Club teams (women)      Club teams (women)
 20                    Lyon                     NaN                    2023  ,
                                                    0        1         2  \
 0                                        Competition      NaN      Year
 1                                            Esports  Esports   Esports
 2                                    FIFAe World Cup      NaN  2022[57]
 3  FIFAe Club World Cup (part of the FIFAe Club S...      NaN  2022[58]
 4  FIFAe Nations Cup (part of the FIFAe Nations S...      NaN  2022[59]
 5                              FIFAe Continental Cup      NaN  2021[60]

                                                    3        4  \
 0                           Winner (Player/Gamer ID)    Title
 1                                            Esports  Esports
 2                               Umut Gültekin (Umut)      1st
 3                                             Riders      1st
 4  Brazil (Gabriel Crepaldi, Klinger Correa, Paul...      1st
 5                                            WhizFox      1st

                                                    5        6  \
 0                        Runner-up (Player/Gamer ID)      NaN
 1                                            Esports  Esports
 2                     Nicolas Villalba (Nicolas99FC)      NaN
 3                                                SAF      NaN
 4  Poland (Bartosz Jakubowski, Damian Augustyniak...      NaN
 5                                          FaZe Clan      NaN

                   7
 0  Next edition[55]
 1           Esports
 2              2023
 3              2023
 4              2023
 5          2022[61]  ,
                                                     0  \
 0   Men's[edit] The following table has the Top 20...
 1            Top 20 rankings as of 6 October 2022[63]
 2                                                Rank
 3                                                   1
 4                                                   2
 5                                                   3
 6                                                   4
 7                                                   5
 8                                                   6
 9                                                   7
 10                                                  8
 11                                                  9
 12                                                 10
 13                                                 11
 14                                                 12
 15                                                 13
 16                                                 14
 17                                                 15
 18                                                 16
 19                                                 17
 20                                                 18
 21                                                 19
 22                                                 20
 23                        *Change from 25 August 2022
 24                      Complete rankings at FIFA.com
 25                                               Rank
 26                                                  1
 27                                                  2
 28                                                  3
 29                                                  4
 30                                                  5
 31                                                  6
 32                                                  7
 33                                                  8
 34                                                  9
 35                                                 10
 36                                                 11
 37                                                 12
 38                                                 13
 39                                                 14
 40                                                 15
 41                                                 16
 42                                                 17
 43                                                 18
 44                                                 19
 45                                                 20
 46                         *Change from 5 August 2022
 47                      Complete rankings at FIFA.com

                                            1  \
 0                                        NaN
 1   Top 20 rankings as of 6 October 2022[63]
 2                                     Change
 3                                        NaN
 4                                        NaN
 5                                        NaN
 6                                        NaN
 7                                        NaN
 8                                          1
 9                                          1
 10                                       NaN
 11                                       NaN
 12                                       NaN
 13                                       NaN
 14                                         3
 15                                         1
 16                                         1
 17                                         1
 18                                         2
 19                                       NaN
 20                                       NaN
 21                                       NaN
 22                                         2
 23               *Change from 25 August 2022
 24             Complete rankings at FIFA.com
 25                                    Change
 26                                       NaN
 27                                         1
 28                                         1
 29                                       NaN
 30                                       NaN
 31                                         2
 32                                       NaN
 33                                         2
 34                                       NaN
 35                                       NaN
 36                                       NaN
 37                                         1
 38                                         1
 39                                         1
 40                                         1
 41                                         2
 42                                         1
 43                                         1
 44                                         1
 45                                         1
 46                *Change from 5 August 2022
 47             Complete rankings at FIFA.com

                                                     2  \
 0   Women's[edit] The following table has the Top ...
 1            Top 20 rankings as of 6 October 2022[63]
 2                                                Team
 3                                              Brazil
 4                                             Belgium
 5                                           Argentina
 6                                              France
 7                                             England
 8                                               Italy
 9                                               Spain
 10                                        Netherlands
 11                                           Portugal
 12                                            Denmark
 13                                            Germany
 14                                            Croatia
 15                                             Mexico
 16                                            Uruguay
 17                                        Switzerland
 18                                      United States
 19                                           Colombia
 20                                            Senegal
 21                                              Wales
 22                                               Iran
 23                        *Change from 25 August 2022
 24                      Complete rankings at FIFA.com
 25                                               Team
 26                                      United States
 27                                             Sweden
 28                                            Germany
 29                                            England
 30                                             France
 31                                              Spain
 32                                             Canada
 33                                        Netherlands
 34                                             Brazil
 35                                        North Korea
 36                                              Japan
 37                                             Norway
 38                                          Australia
 39                                              Italy
 40                                              China
 41                                            Iceland
 42                                        South Korea
 43                                            Denmark
 44                                            Austria
 45                                            Belgium
 46                         *Change from 5 August 2022
 47                      Complete rankings at FIFA.com

                                            3
 0                                        NaN
 1   Top 20 rankings as of 6 October 2022[63]
 2                                     Points
 3                                     1841.3
 4                                    1816.71
 5                                    1773.88
 6                                    1759.78
 7                                    1728.47
 8                                    1726.14
 9                                    1715.22
 10                                   1694.51
 11                                   1676.56
 12                                   1666.57